function ENV() {
    local var=$1
    local default=$2

    # We'll avoid overriding existing values.
    export $var="${!var:-$default}"
}

# ENV EXTRA_PACKAGES \
#     tar openssl binutils git make which curl \
#     python-lxml python-openssl \
#     ccache

ENV DATA_DIR "/home/$(whoami)/android"
ENV AOSP_DIR "$DATA_DIR/aosp"
ENV OUTPUT_PACKAGE_DIR "$DATA_DIR/packages"
ENV AOSP_BRANCH "emu-master-dev"
ENV CCACHE_DIR "$DATA_DIR/ccache"
ENV BUILD_LOG_DIR "$DATA_DIR/log"
ENV SKIP_SYNC_AOSP "0"
ENV SKIP_BUILD "0"
ENV UNITTESTS_ARCHIVE_NAME "emulator_unittests.tar.gz"
ENV EMULATOR_ARCHIVE_NAME "android_emulator.tar.bz2"
# ENV CCACHE_DISABLE "1"

# We'll leave the default build args here, making them easy to override.
ENV ANDROID_BUILD_ARGS "--host=windows-x86_64,windows-x86 \
                        --no-tests --verbosity=2"
